border = 1px

.bt
  border-width: border 0 0 0
.br
  border-width: 0 border 0 0
.bb
  border-width: 0 0 border 0
.bl
  border-width: 0 0 0 border

radius = 5px

.rounded
  border-radius radius
.rounded-bottom
  border-radius 0 0 radius radius
.rounded-top
  border-radius radius radius 0 0
.rounded-rb
  border-radius 0 radius radius radius