@require reset

unit = 8px

// Type
size(font, line)
  font-size font
  line-height line
html
  font-family Oxygen, sans-serif
  type 16 unit * 3
.b
  font-weight bold
.text-s
  size 12, unit * 2
.text-xs
  size 10, unit * 2

// Color
.gray
  color #aeafad

// Cursors
.pointer
  cursor pointer

@require layout
@require spacing
